<div class= "container">
  <h1>Pregunta al Coach </h1>
 <div class="ask">
    <h3 style="color:blue"> <%= @Qs %> </h3><b>your Question</b> <br/>
  </div>
  <div class ="answer">
    <h3 style="color:blue"><%= @ak %> </h3> <b>Coach answer</b> <br/> <br>
  </div>
  <div class= "next"><%= link_to  "One question more", ask_path %></div>
</div>