<div class ="container">
<h2>Haz la pregunta</h2> <br/>
<form action="/answer" method="get">
  <input class ="input" type="text" name="member" placeholder="What do you like ask for your teacher?">
  <input class="btn" type="submit">
</form>
</div>