/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container{
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.ask {
  margin-left: 15px;
  text-align: lef;
  font-size: 24px;
}

.next{
  font-size: 12px;
  text-decoration: none;
  text-align: left;
}

.next:hover{
  color:blue;
}

.answer{
  background-color: blanchedalmond;
  margin-left: 15px;
  text-align: lef;
  font-size: 24px;
}

.btn{
  background-color: blue;
  color:white;
}

.input{
  width: 300px;
}
